

<!--
Thie template is password protected from the change_password view in users_views.py module
-->

{% extends "main/base.html" %}
{% block content %}
{% if user.is_authenticated %}

<fiv class="row" id="change-password-div">
    <div class="col-md-3 col-12"></div>
<form class="col-12 col-md-6" method="POST" action="">
    <p style="background: red; color:white; text-align: center;">{{message}}</p>
    <h1 clas="col-12" >Change your password</h1>
    {% csrf_token %}
    {{form}}
    <button class="btn btn-info btn-sm" type="submit">Save Changes</button>
</form>

</fiv>
{% endif %}

{% endblock %}