{% extends "main/base.html" %}

{% load static %}
{% load humanize %}

{% block content %}


<div class="row"> <!-- Spans Client and Loans--> 

{% if user.is_authenticated %}


<div class="col-12" >


</div>


<div class="col-12" >


    <h1>Vehicles With Fines</h1>

    {% for message in messages %}
    <p class="bg-danger text-white" style="text-align: center;">{{message}}</p>
    {% endfor %}

    <form action="" method="POST">
        {% csrf_token %}
        <label for="date1">From: </label>
        <input type="date" name="date1" placeholder ="From" required>
        <label for="date2">To: </label>
        <input type="date" name="date2" placeholder="To" required>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>


    <p>
        {% if orig_date1 %} 
           From <b><i>{{orig_date1}}</i></b> 
        {% endif %} 
        {% if orig_date2 %} 
           To <b><i>{{orig_date2}}</i></b> 
        {% else %}
        Today's Report
        {% endif %}
    </p>

    <p>
        <button class="export-to-excel btn btn-primary btn-sm">Export ToExcel</button>
    </p>

    <table class="table table-striped table-striped table-bordered" id="tab-export">
        <thead class="bg-dark text-white">
            <tr>   
                <td>No#</td>
                <td>Record Date</td>
                <td>Particulars</td>
                <td>Fine</td>
                <td>Recorded By</td>
            </tr>
        </thead>
        <tbody>
       {% for fined_car in list_of_fines %}
            <tr {% if fined_car.excuse_car %} style="background: rgb(108, 255, 108);" {% endif %}>   
                <td><a href="{% url 'set-current-car-by-click' fined_car.id %}">{{fined_car.id}}</a>
                </td>
                <td><a href="{% url 'set-current-car-by-click' fined_car.id %}">{{fined_car.record_date | date:"M d, Y"}}</a></td>
                <td><a href="{% url 'set-current-car-by-click' fined_car.id %}">{{fined_car.particulars}}</a></td>
                <td style='text-align: right;'>
                    <a href="{% url 'set-current-car-by-click' fined_car.id %}">{{fined_car.inc_amount | floatformat:0 | intcomma }}</a> </td>
                    <td><a href="{% url 'set-current-car-by-click' fined_car.id %}">System User</a></td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot class="bg-dark text-white">
            <tr>   
                <td>Count: {{count}}</td>
                <td></td>
                <td style='text-align: right;' colspan="2">Total: {{total | floatformat:0 | intcomma}} </td>
                <td></td>
            </tr>
        </tfoot>

    </table>
</div>


{% endif %}
</div><!--closes this page top row div-->



<script>
    $(".export-to-excel").click(function(){
       $("td").find("input").remove("input")
       $("td").find("label").remove("label")
       $("td").find("i").remove("i")
       $("td").find("form").remove("table")
       $("td").find("button").remove()
       $("td").find("form").remove()
       $("#tab-export").table2excel({  
    exclude: "",
    name: "Worksheet Name",
    filename: "CarsWithFines.xls", // do include extension
    preserveColors: true // set to true if you want background colors and font colors preserved
})
});
</script>

{% endblock %}
