{% extends "main/base.html" %}

{% load static %}
{% load humanize %}

{% block content %}


<div class="row"> <!-- Spans Client and Loans--> 

{% if user.is_authenticated %}


<div class="col-12" >


</div>


<div class="col-12" >


    <h1>View unpaid invoices</h1>

    {% for message in messages %}
    <p class="bg-danger text-white" style="text-align: center;">{{message}}</p>
    {% endfor %}

    <p>
        <button  data-bs-target="#filters" data-bs-toggle="collapse" class="btn btn-sm btn-danger">
            <i class="fa fa-arrow-down"></i>&nbsp;Filters
        </button>
    </p>

    <form action="" method="POST">
        {% csrf_token %}
                <div  class="collapse" id="filters">
            <label for="street-id">Street</label>
            <select name="street-id">
                <option value="NA">Choose Street</option>
                {% for street in all_current_streets %}
                <option value="{{street.id}}">{{street.street_name}}</option>
                {% endfor %}
            </select>
            <label for="street-id">Employee</label>
            <select name="employee-id">
                <option value="NA">Choose Employee</option>
                {% for employee in all_emploees %}
                <option value="{{employee.id}}">{{employee.surname}} {{employee.first_name}}</option>
                {% endfor %}
            </select>

            <label for="invoice-type-name">Filter By Paid Against</label>
            <select name="invoice-type-name">
                <option value="NA">Choose Type</option>
                {% for invoice_type in all_invoices %}
                <option value="{{invoice_type.invoice_type_name}}">
                    {{invoice_type.user_friendly_name}}
                </option>
                {% endfor %}
            </select>

        </div>
        <label for="date1">From: </label>
        <input type="date" name="date1" placeholder ="From" required>
        <label for="date2">To: </label>
        <input type="date" name="date2" placeholder="To" required>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>

    <p>
        {% if orig_date1 %} 
           From <b><i>{{orig_date1}}</i></b> 
        {% endif %} 
        {% if orig_date2 %} 
           To <b><i>{{orig_date2}}</i></b> 
        {% else %}
        Today's Report
        {% endif %}
    </p>

    <p>
        <button class="export-to-excel btn btn-primary btn-sm">Export ToExcel</button>
    </p>

    <table class="table table-striped table-striped table-bordered" id="tab-export">
        <thead class="bg-dark text-white">
            <tr>   
                <td>No#</td>
                <td>Record Date</td>
                <td>Invoice Type</td>
                <td>Particulars</td>
                <td>Amount</td>
                <td>Recording User</td>
                <td>Street</td>
            </tr>
        </thead>
        <tbody>
       {% for invoice in list_of_unpaid_invoices %}
            <tr>   
                <td><a href="{% url 'set-current-car-by-click' invoice.id %}">{{invoice.id}}</a></td>
                <td><a href="{% url 'set-current-car-by-click' invoice.id %}">{{invoice.record_date}}</a></td>
                <td><a href="{% url 'set-current-car-by-click' invoice.id %}">{{invoice.invoice_typeID}}</a></td>
                <td><a href="{% url 'set-current-car-by-click' invoice.id %}">{{invoice.particulars}}</a></td>
                <td style='text-align: right;'>
                    <a href="{% url 'set-current-car-by-click' invoice.id %}">{{invoice.inc_amount | floatformat:0 | intcomma }}</a> </td>
                <td><a href="{% url 'set-current-car-by-click' invoice.id %}">{{invoice.user_full_name}}</a></td>
                <td><a href="{% url 'set-current-car-by-click' invoice.id %}">{{invoice.streetID}}</a></td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot class="bg-dark text-white">
            <tr>   
                <td>Count: {{count}}</td>
                <td></td>
                <td style='text-align: right;' colspan="2">Total: {{total | floatformat:0 | intcomma}} </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>

    </table>
</div>


{% endif %}
</div><!--closes this page top row div-->

<script>
    $(".export-to-excel").click(function(){
       $("td").find("input").remove("input")
       $("td").find("label").remove("label")
       $("td").find("i").remove("i")
       $("#tab-export").table2excel({  
    exclude: "",
    name: "Worksheet Name",
    filename: "UnPaidInvoices.xls", // do include extension
    preserveColors: true // set to true if you want background colors and font colors preserved
})

});
</script>

{% endblock %}
