

{% load static %}
{% load humanize %}

{% block content %}


<div class="row"> <!-- Spans Client and Loans--> 
    
    <div class="row tab-content" style="margin-top: 5px;">
       

    <div class="tab-pane fade show active col-12" role="tabpanel" aria-labelledby="home-tab" id="payments">
   
  
        
        <h1>Today's Record </h1>
        <table class="table table-striped table-bordered">
            <thead class="bg-dark text-white">
            <tr>
                <td>No#</td>
                <td>
                    
                    Record Date
                
                </td>
                <td>Item Type</td>
                <td>Particulars</td>
                <td>Amount Paid</td>
                <td>Registering Officer</td>
                <td>Street</td>
            </tr>
            </thead>
             
            <tbody>
                {% if car_normal_search_today %}
                {% for car in car_normal_search_today %}  
                
                <tr>
                    <td>
                    <a href="{% url 'set-current-car-by-click' car.id %}">{{ car.id }}</a></td>
                    <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.record_date }}</a></td>
                    <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.item_name }}</a></td>
                    <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.particulars }}</a></td>
                    <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.inc_amount | intcomma }}</a></td>
                    <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.user_full_name }}</a></td>
                    <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.streetID }}</a></td>
                </tr>
                {% endfor %}
                {% endif %}
                
            </tbody>
            <tfoot class="bg-dark text-white">
            <tr>
                <td></td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td><td></td>
            </tr>
            </tfoot>
        </table>
       


   
   
    <h1>UnPaid</h1>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
        <tr>
            <td>No#</td>
            <td>Record Date</td>
            <td>Date of Validity</td>
            <td>Item Type</td>
            <td>Particulars</td>
            <td>Amount Paid</td>
            <td>Registering Officer</td>
            <td>Street</td>
        </tr>
        </thead>
         
        <tbody>

            {% if car_normal_search_unpaid %}            
            {% for car in car_normal_search_unpaid %}
            
            <tr style="background: rgb(250,170,170); font-size:15px;">
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.id }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.record_date }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.date_of_validity }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.item_name }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.particulars }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.inc_amount | intcomma }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.user_full_name }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.streetID }}</a></td>
            </tr>
            {% endfor %}
            {% endif %}
            
        </tbody>
        <tfoot class="bg-dark text-white">
        <tr>
            <td></td> <td></td>
            <td></td>
            <td><b>Total Unpaid: </b><b><i> {{total_unpaid | floatformat:0 | intcomma }} </i></b></td>
            <td></td><td></td><td></td><td></td>
        </tr>
        </tfoot>
    </table>
    
  


    <h1>Payment History</h1>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
        <tr>
            <td>NO#</td>
            <td>Record Date</td>
            <td>Particulars</td>
            <td>Amount Paid</td>
            <td>Received By</td>
            <td>Street</td>
            <td>Refund Status</td>
        </tr>
        </thead>
         
        <tbody>

            {% if car_payment_history %}
            
            {% for car in car_payment_history %}   
            <tr {% if car.refunded %} style="background: rgb(250,170,170); " {% endif %}>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.id }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.record_date }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.particulars }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.amount | floatformat:0 | intcomma }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.user_full_name }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{{ car.streetID }}</a></td>
                <td><a href="{% url 'set-current-car-by-click' car.id %}">{% if car.refunded %} Refunded {% else %} Not Refunded {% endif %}</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        <tfoot class="bg-dark text-white">
        <tr>
            <td></td> <td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        </tfoot>
    </table>
    
</div>



</div><!--closes inner wrapping row-->

</div><!--closes outer most div col-12-->


{% endblock %}
