
{% extends "main/base.html" %}
{% load static %}

{% block content %}


<div class="row">
    
    <h2 style="padding-top: 3px;"class="col-12 col-md-4">
    <a href="{% url 'main:list-security' %}"
    style="padding:3px;border:1px solid transparent; border-radius: 5px;" 
    class="btn-info text-white">
        <i class="fa fa-arrow-left"></i>&nbsp;Back</a>
        &nbsp;{{ request.session.current_client_fullname}}</h2>
    <h3 style="padding-top: 3px;"class="col-12 col-md-8">LoanID: {{request.session.current_loanID}}</h3>

    
    
    <div class="col-12 col-md-6">
      <div class="row">
        <h1 class="col-12">Add Security Details</h1>
        <form method="POST" class="col-12" enctype="multipart/form-data">
        {% csrf_token %}

        <input class="col-12" type="hidden"  name="add-security" Value="add-security">
        <input class="col-12" type="hidden"  name="securityID" Value="{{securityID}}">

        <label class="col-12 bg-Success" for="security-name">Security Item Name</label>
        <input class="col-12" type="text"  name="security-name" Value="{{security_name}}">
         
        <label class="col-12 bg-Success" for="security-address">Address</label>
        <input class="col-12" type="text"  name="security-address" Value="{{security_address}}">


        <label class="col-12 bg-Success" for="estimated-value">Estimated Value</label>
        <input class="col-12" type="number"  name="estimated-value" Value="{{estimated_value}}">


         <br>
        <input style="width:150px; margin-top: 3px;"class="col-12" type="Submit"  Value="Save">
    </form>
    </div>
</div>


</div>

{% endblock %}
