

{% extends "main/base.html" %}

{% load static %}
{% load humanize %}

<!--Anything under block content will be displayed  -->
{% block content %}
{% if user.is_authenticated %}
<div class="row">

<h1>{{title}}</h1>
<br>
<p class="col-12">
<form class="form-inline" method="POST" action="{% url 'main:view-fines' %}">
    {% csrf_token %}
    <select  name="station-id" id="station">
        <option  value="0">Choose Station</option>
        {% for station in get_global_db_objects.stations %}
            <option value="{{station.id}}">{{station.station_name}}</option>          
        {% endfor %}
    </select>&nbsp;
    <input type="date" name="date1" placeholder="yyyy-mm-dd" required>&nbsp;
    <input type="date" name="date2" placeholder="yyyy-mm-dd" required>
    <button class="btn btn-sm btn-info text-white" type="submit">Load</button>
</form>
</p>
<div class="col-12">
    <div class="row">

        {% if request.POST.date1 %}
        <p class="col-12"><b>From:</b> {{request.POST.date1}} <b>To:</b> {{request.POST.date2}} </p>
        {% else %}
        <p class="col-12">Today's Report</p>
        {% endif %}
        
    <table class="table table-striped table-bordered">
        <thead class="bg-info text-white">
            <tr>
                <td>Record Date</td> 
                <td>Station</td> 
                <td>Client Details</td>
                <td>Fines Added </td> 
            </tr>
        </thead>
        <tbody>
            {% for fine in fines_set %}
            <tr >
                <td class="{{fine.bg_color}} {{fine.text_color}}">
                    <form method="POST" class="form-inline fine-list-button" 
                    action="{% url 'main:index' %}" style="display: inline-block; padding: 0px; margin: 0px;">
                        {% csrf_token %}
                        <input type="hidden" name="set-loan-id" value="{{fine.loanID.id}}">
                    <button class="{{fine.bg_color}} {{fine.text_color}}"
                    style="background: transparent; border:0px; cursor: pointer;
                    text-decoration: underline;" type="submit"
                    style="margin:0px; margin-left: 3px; padding-left:4px; padding-right:4px;
                     border: 0px transparent; cursor: pointer;">{{fine.record_date | date:'M d, Y'}}</button>
                     </form>
                </td> 
                <td>
                    <form method="POST" class="form-inline fine-list-button" 
                    action="{% url 'main:index' %}" style="display: inline-block; padding: 0px; margin: 0px;">
                        {% csrf_token %}
                        <input type="hidden" name="set-loan-id" value="{{fine.loanID.id}}">
                    <button style="background: transparent; border:0px; cursor: pointer;
                    text-decoration: underline;"type="submit"
                    style="margin:0px; margin-left: 3px; padding-left:4px; padding-right:4px;
                     border: 0px transparent; cursor: pointer;">{{fine.stationID }}
                     </button>
                    </form>
                </td> 
                <td>
                    <form method="POST" class="form-inline fine-list-button" 
                    action="{% url 'main:index' %}" style="display: inline-block; padding: 0px; margin: 0px;">
                        {% csrf_token %}
                        <input type="hidden" name="set-loan-id" value="{{fine.loanID.id}}">
                    <button style="background: transparent; border:0px; cursor: pointer;
                    text-decoration: underline;"type="submit"
                    style="margin:0px; margin-left: 3px; padding-left:4px; padding-right:4px;
                     border: 0px transparent; cursor: pointer;">{{fine.loanID}}
                     </button>
                    </form>
                </td>
                <td>
                    <form method="POST" class="form-inline fine-list-button" 
                    action="{% url 'main:index' %}" style="display: inline-block; padding: 0px; margin: 0px;">
                        {% csrf_token %}
                        <input type="hidden" name="set-loan-id" value="{{fine.loanID.id}}">
                    <button style="background: transparent; border:0px; cursor: pointer;
                    text-decoration: underline;"type="submit"
                    style="margin:0px; margin-left: 3px; padding-left:4px; padding-right:4px;
                     border: 0px transparent; cursor: pointer;">{{fine.amount | floatformat:1| intcomma }}
                       </button>
                    </form> 
                    </td> 
            </tr>
            {% endfor %}
        </tbody>

        <tfoot  class="bg-dark text-white">
            <tr>
                <td></td> 
                <td></td> 
                <td colspan="3"> 
                 Total Fines: {{total_fines | floatformat:1| intcomma }}
            </td> 
            </tr>
        </tfoot>            
    </table>

    </div>
</div>

</div>

{% endif %}
{% endblock %}