
{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

{% if user.is_authenticated %}

<br>
<div class="row">

<br>
<form class="form-inline" method="POST" action="{% url 'main:pivot-reports' %}">
    {% csrf_token %}
    <input type="date" name="date1" placeholder="yyyy-mm-dd" required>&nbsp;
    <input type="date" name="date2" placeholder="yyyy-mm-dd" required>
    <select   name="station-id" id="station">
        <option  value="0">Choose Station</option>
        {% for station in get_global_db_objects.stations %}
            <option value="{{station.id}}">{{station.station_name}}</option>          
        {% endfor %}
    </select>
    <button class="btn btn-sm btn-info text-white" type="submit">Load</button>
    </form>
</div>



<div class="row">

    <h1 class="col-12">Weekly Reports</h1>
    
    {% if request.POST.date1 %}
    <p class="col-12"><b>From:</b> {{request.POST.date1}} <b>To:</b> {{request.POST.date2}} </p>
    {% else %}
    <p class="col-12">Today's Report</p>
    {% endif %}

    <div class="col-12">
        <button class="export-to-excel btn btn-sm btn-info text-white">Export To Excel</button>
        <button class="btn btn-sm btn-success text-white" onclick=" exportToRichText()">Export To Document</button>
    </div>
    <div class="content col-12" id="html-content">
    <table class="table table-striped table-bordered " id="weekly-table" 
    style="border-collapse: collapse; border:1px solid black; width:100%;">
        <thead class="bg-info text-white">
            <tr>
                <td style="border:1px solid gray;">Date</td> <td>Station</td>
                <td style="border:1px solid gray;">Fines</td>
                <td style="border:1px solid gray;">Borrower's Book</td>
                 <td style="border:1px solid gray;">Loan Processing Fee</td> 
                  <td style="border:1px solid gray;">Interest Paid</td> <td>Total</td>
            </tr>
        </thead>

        <tbody>
            {% for item in pivot_weekly %}
            <tr>
                <td style="border:1px solid gray;">{{item.record_date | date:'M d, Y'}}</td> 
                <td style="border:1px solid gray;">{{item.stationID }}</td> 
                <td style="border:1px solid gray;">{{item.fines | floatformat:0 | intcomma }}</td> 
                <td style="border:1px solid gray;">{{item.borrowers_book | floatformat:0 | intcomma }}</td> 
                <td style="border:1px solid gray;">{{item.loan_processing_fee | floatformat:0  | intcomma }}</td> 
                <td style="border:1px solid gray;">{{item.interest_paid | floatformat:0 | intcomma }}</td> 
                <td style="border:1px solid gray;">{{item.total | floatformat:0 | intcomma }}</td> 
            </tr>
            {% endfor %}
        </tbody>
        <tfoot  class="bg-dark text-white">
 
            <tr>
                <td style="border:1px solid gray;"></td>
                <td style="border:1px solid gray;"></td>
                <td style="border:1px solid gray;">{{total_fines | floatformat:0 | intcomma }}</td> 
                <td style="border:1px solid gray;">{{total_on_books | floatformat:0 | intcomma }}</td> 
                <td style="border:1px solid gray;">{{total_processing| floatformat:0 | intcomma  }}</td> 
                <td style="border:1px solid gray;">{{total_interest | floatformat:0 | intcomma  }}</td> 
                <td style="border:1px solid gray;">{{totally | floatformat:0 | intcomma  }}</td> 
            </tr>
        </tfoot>
    </table>
    </div>



  
    {% endif %}

    
    
    <script>
   function exportToRichText() {

    const divElement = document.getElementById("html-content");
    if (!divElement) {
      console.error("Error: Div element with ID '" + divId + "' not found.");
      return;
  }

  const divContent = divElement.outerHTML; // Get the HTML content of the div

  // Create a Blob object with the HTML content and MIME type
  const blob = new Blob([divContent], { type: 'text/html' });

  // Create a downloadable link element (invisible)
  const link = document.createElement('a');
  link.href = URL.createObjectURL(blob);
  link.download = 'downloaded_div.html'; // Set the filename for the download

  // Simulate a click on the link to trigger download
  link.click();

  // Clean up (optional)
  URL.revokeObjectURL(link.href);
        }

   
        $(".export-to-excel").click(function(){
           $("td").find("input").remove("input")
           $("td").find("label").remove("label")
           $("td").find("i").remove("i")
           $("#weekly-table").table2excel({  
        exclude: "",
        name: "Worksheet",
        filename: "WeeklyReport.xls", // do include extension
        preserveColors: true // set to true if you want background colors and font colors preserved
    })
    
    });
    </script>

    {% endblock %}